{% extends "base.html" %}
{% block content %}
    <div>
        <div class="container">
            <div style="display: inline-block;margin-bottom: 10px">
                <a class="btn btn-success" href="/user/add">

                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建用户
                </a>
            </div>
            <div style="display: inline-block;margin-bottom: 10px">
                <a class="btn btn-success" href="/user/add_by_modelForm">

                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建用户（modelForm）
                </a>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    用户列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>创建时间</th>
                        <th>性别</th>
                        <th>部门</th>
                        <th>操作</th>
                        {#                    <th>Username</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in queryset %}
                        <tr>
                            <th scope="row">{{ object.id }}</th>
                            <td>{{ object.name }}</td>
                            <td>{{ object.creat_time|date:"Y-m-d" }}</td>
                            <td>{{ object.get_gender_display }}</td>
                            <td>{{ object.depart.title }}</td>
                            {#                            <td>#}
                            {#                                <a class="btn btn-primary btn-xs"#}
                            {#                                   href="/user/edit/{{ object.id }}">编辑</a>#}
                            {#                                <a class=" btn btn-danger btn-xs" href="/user/delete/?uid={{ object.id }}">删除</a>#}
                            {#                            </td>#}
                            <td>
                                <a class="btn btn-primary btn-xs"
                                   href="/user/edit/{{ object.id }}">编辑</a>
                                <a class=" btn btn-danger btn-xs" href="/user/delete/{{ object.id }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            {{ page_string }}

        </div>
    </div>
{% endblock %}